In [30]:
import pandas as pd
import requests

In [10]:
# Loading the data into the notebook
AAPL_df = pd.read_csv("../data/AAPL.csv");
ADBE_df = pd.read_csv("../data/ADBE.csv");
ATNT_df = pd.read_csv("../data/AT&T.csv");
CSCO_df = pd.read_csv("../data/CSCO.csv");
GE_df = pd.read_csv("../data/GE.csv");
HPQ_df = pd.read_csv("../data/HPQ.csv");
IBM_df = pd.read_csv("../data/IBM.csv");
INTU_df = pd.read_csv("../data/INTU.csv");
MSFT_df = pd.read_csv("../data/MSFT.csv");
TXN_df = pd.read_csv("../data/TXN.csv");

In [43]:
# taking a look at the first and last few rows in the data
display(AAPL_df.count())
display(ADBE_df.count())
display(ATNT_df.count())
display(CSCO_df.count())
display(GE_df.count())
display(HPQ_df.count())
display(IBM_df.count())
display(INTU_df.count())
display(MSFT_df.count())
display(TXN_df.count())

timestamp    5982
open         5982
high         5982
low          5982
close        5982
volume       5982
dtype: int64

timestamp    5982
open         5982
high         5982
low          5982
close        5982
volume       5982
dtype: int64

timestamp    5982
open         5982
high         5982
low          5982
close        5982
volume       5982
dtype: int64

timestamp    5982
open         5982
high         5982
low          5982
close        5982
volume       5982
dtype: int64

timestamp    5982
open         5982
high         5982
low          5982
close        5982
volume       5982
dtype: int64

timestamp    5982
open         5982
high         5982
low          5982
close        5982
volume       5982
dtype: int64

timestamp    5982
open         5982
high         5982
low          5982
close        5982
volume       5982
dtype: int64

timestamp    5982
open         5982
high         5982
low          5982
close        5982
volume       5982
dtype: int64

timestamp    5981
open         5981
high         5981
low          5981
close        5981
volume       5981
dtype: int64

timestamp    5982
open         5982
high         5982
low          5982
close        5982
volume       5982
dtype: int64

    timestamp    open     high       low    close    volume
0  02-10-2018  115.30  115.840  114.4449  115.316   8512144
1  01-10-2018  114.75  115.680  114.7300  115.610  18609600
2  28-09-2018  114.19  114.570  113.6800  114.370  21647811
3  27-09-2018  114.78  114.910  114.2000  114.410  19091299
4  26-09-2018  114.47  115.055  113.7400  113.980  19352025

       timestamp   open   high    low  close   volume
5976  09-01-1995  60.88  61.00  59.75  60.25  2875000
5977  06-01-1995  59.88  61.25  59.75  60.63  2917600
5978  05-01-1995  60.88  61.00  59.38  59.63  2489000
5979  04-01-1995  60.25  60.75  59.50  60.63  3225700
5980  03-01-1995  61.50  61.50  60.13  60.19  2471600

timestamp    5981
open         5981
high         5981
low          5981
close        5981
volume       5981
dtype: int64